/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'MS Ｐゴシック', sans-serif;
    background-color: #333;
    color: #fff;
}

/* Navbar */
.navbar {
    background-color: #333;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 1.5em;
    color: #fff; /* Orange/Red color */
    text-decoration: none;
    font-weight: bold;
}

.navbar .logo:hover {
    color: #379137;
}

.navbar nav ul {
    list-style: none;
    display: flex;
}

.navbar nav ul li {
    margin: 0 15px;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar nav ul li a:hover {
    color: #379137;
}

/* Main Visual Section */
.main-visual {
    position: relative;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.overlay-text h1 {
    font-size: 5em;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
